<!doctype html>
<html>
<head>
    <title>MoodTracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/2b49b78d23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="profileBody">
<div class="profileContainer">

    <div class="page-header text-center">
        <h1 class="profileH1"><span class="fa fa-anchor"></span> Profile Page</h1>
        <a class= profileA href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="profileDiv">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3 class="profileH3">Tracker</h3>
          <ul class="mood">
          <% for(var i=0; i<mood.length; i++) {%>
            <li class="mood">
              <span><%= mood[i].weekday %></span>
              <span><%= mood[i].msg %></span>
              <span><%= mood[i].mood %></span>
              <span><%= mood[i].trash %></span>
            
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2 class="profileh2">Mood Tracker</h2>
        <% if (user.local.email) { %>
          <form class = "profileForm" action="/mood" method="POST">
            <input class="profileInput" type="text" value="<%= user.local.email %>" name="name">
            <input class="profileForm" type="text" placeholder="weekday" name="weekday">
            <input class="profileForm" type="text" placeholder="thoughts" name="msg">
            <input class="profileForm" type="text" placeholder="mood" name="mood">
            <button class = "profileButton" type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
